card {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(top, #8fa1ff, #3757fa); /* Firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6ff00', endColorstr='#538300', GradientType='0'); /* IE*/
}

card.rotateUp{
  -webkit-animation: rotateUp 1s;
  background: blue; -webkit-transform: rotateY(180deg);
}

card.rotateDown{
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); -webkit-transform: rotateY(0deg);
  -webkit-animation: rotateDown 1s;
}

@-webkit-keyframes rotateUp{
  0%   {background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); -webkit-transform: rotateY(0deg);}
  50%  {background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); -webkit-transform: rotateY(90deg);}
  51%  {background: blue; -webkit-transform: rotateY(91deg);}
  100% {background: blue; -webkit-transform: rotateY(180deg);}
}

@-webkit-keyframes rotateDown{
  0% {background: blue; -webkit-transform: rotateY(180deg);}
  50%  {background: blue; -webkit-transform: rotateY(91deg);}
  51%  {background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); -webkit-transform: rotateY(90deg);}
  100%   {background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); -webkit-transform: rotateY(0deg);}
}